<div class="container">
<div class="content">
  <div class="content-container">
    <div class="content-header">
      <h2 class="content-header-title">Blank Page</h2>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="javascript:;">Extra Pages</a></li>
        <li class="active">Blank Page</li>
      </ol>      
    </div> <!-- /.content-header -->
  </div> <!-- /.content-container -->    
</div> <!-- /.content -->
</div> <!-- /.container -->
