 <div class="mainbar">
  <div class="container">
    <button type="button" class="btn mainbar-toggle" data-toggle="collapse" data-target=".mainbar-collapse">
      <i class="fa fa-bars"></i>
    </button>
    <div class="mainbar-collapse collapse">
      <ul class="nav navbar-nav mainbar-nav">
        <%if controller_name == 'principal'%>
          <li class="active">
        <%else%>
          <li>
        <%end%>           
          <%= link_to root_path do%>
            <i class="fa fa-dashboard"></i>
            Dashboard
          <%end%>
        </li>
        <%if controller_name == 'agenda'%>
          <li class="active">
        <%else%>
          <li>
        <%end%>
          <%= link_to agenda_path do%>
            <i class="fa fa-calendar"></i>
            Agenda
          <%end%>
        </li>
        <%if controller_name == 'users'%>
          <li class="active">
        <%else%>
          <li>
        <%end%>
          <%= link_to users_path do%>
            <i class="fa fa-user"></i>
            Usuarios
          <%end%>
        </li>
      </ul>
    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container --> 
</div> <!-- /.mainbar -->