<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-cogs"></i>
      </button>
      <a class="navbar-brand navbar-brand-image" href="./index.html">
        <img src="http://preview.jumpstartthemes.com/target-admin/img/logo.png" alt="Site Logo">
      </a>
    </div> <!-- /.navbar-header -->
    <div class="navbar-collapse collapse">
      <%= render 'layouts/web/header/navbar/left'%>
      <%= render 'layouts/web/header/navbar/right'%>
    </div> <!--/.navbar-collapse -->
  </div> <!-- /.container -->
</div> <!-- /.navbar -->