<div class="container">
  <div class="content">
    <div class="content-container">
      <div ng-view class="reveal-animation">
      </div>      
    </div> <!-- /.content-container -->     
  </div> <!-- /.content -->
</div> <!-- /.container -->