<% provide(:title, "Usuarios::Nuevo usuario") %>
<% breadcrumb_add 'Principal', users_path%>
<% breadcrumb_add 'Nuevo usuario', nil%>
<div class="container">
  <div class="content">
    <div class="content-container">
      <div class="content-header">
        <h2 class="content-header-title">Usuarios del sistema</h2>
        <%= render_breadcrumb %>      
      </div> <!-- /.content-header -->      
      <div class="row">
        <div class="col-md-12">
          <div class="portlet">
            <div class="portlet-header">
              <h3>
                <i class="fa fa-table"></i>
                Usuarios del sistema
              </h3>
            </div> <!-- /.portlet-header -->
            <div class="portlet-content">
              <%= render 'form'%>
            </div> <!-- /.portlet-content -->
          </div> <!-- /.portlet -->
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.content-container -->     
  </div> <!-- /.content -->
</div> <!-- /.container -->