<div class="col-md-8">
  <div class="portlet">
    <div class="portlet-header">
      <h3>
        <i class="fa fa-calendar"></i>
        Calendario
      </h3>
    </div> <!-- /.portlet-header -->
    <div class="portlet-content" id='calendar-container'>
      <div id="calendar" data-serverdate="<%= @server_date%>" data-selectable="<%= can? :create, :api_eventos%>">
      </div> <!-- /#full-calendar -->        
    </div> <!-- /.portlet-content -->
  </div> <!-- /.portlet -->
</div> <!-- /.col-md-8 -->
