<div>
  <h4 class="heading-inline">Weekly Sales Stats
  &nbsp;&nbsp;<small>For the week of Jun 15 - Jun 22, 2011</small>
  &nbsp;&nbsp;</h4>

  <div class="btn-group ">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="fa fa-clock-o"></i>  &nbsp;
      Change Week <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:;">Action</a></li>
          <li><a href="javascript:;">Another action</a></li>
          <li><a href="javascript:;">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="javascript:;">Separated link</a></li>
        </ul>
  </div>
</div><br>
