<div ng-controller='FilterFormController as filterForm'>
  <h4 class="heading-inline">Agenda
  &nbsp;&nbsp;<small>Citas programadas para</small>
  &nbsp;&nbsp;</h4>
  <div class="btn-group ">
    <form class="form-inline" role="form" ng-submit='filterForm.loadCalendar(selected_doctor)'>
      <div class="form-group">
        <select id='select_doctor' ng-model="selected_doctor" class="form-control" ng-options="doctor.full_name for doctor in filterForm.doctors" title="Doctors">
          <option value="">Todos</option>
        </select>        
      </div>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-crosshairs"> Filtrar</i>
      </button>    
    </form>
  </div><br><br>
  <div class="row">
    <div class="col-md-12">
      <center><h3 class="heading">{{filterForm.selected_doctor.full_name}}</h3></center>
    </div>
  </div>
</div><br>
