<%if can? :create, :api_eventos%>
<div id="newEventModal" class="modal modal-styled fade" ng-controller='newEventController'
  my-modal mymymy='{{show_modal}}'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Registro de nuevo evento</h3>
      </div>
      <div class="modal-body">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-user-md"></i>
              {{new_evento.doctor_name}}
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            <form id="validate-enhanced" class="form parsley-form" ng-submit='createEvent()'>
              <div class="form-group" ng-class="{'has-error': errors.base}">
                <label class='control-label' for="buscar_paciente">Fecha y hora</label>
                <div class="input-group date ui-datepicker">
                    <input name="buscar_paciente" class="form-control " type="text"
                    value="{{new_evento.formated_start}}" id="disabledTextInput"readonly>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="buscar_paciente" class="form-control " type="text" value="{{new_evento.formated_end}}" readonly>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>              
                </div>
                <p class='control-label'>{{errors.base.join()}}</p>
              </div>

              <div class="form-group" ng-class="{'has-error': errors.paciente}">
                <label class='control-label' for="buscar_paciente">Paciente</label>
                <div paciente-autocomplete class="input-group">                  
                </div>
                <p class='control-label'>{{errors.paciente.join()}}</p>
              </div>
             
              <div class="form-group" ng-class="{'has-error': errors.motivo}">
                <label class='control-label' for="textarea-input">Motivo</label>
                <textarea name="textarea-input" id="textarea-input" cols="10" rows="3" class="form-control" ng-model='new_evento.motivo'></textarea>
                <p class='control-label'>{{errors.motivo.join()}}</p>
              </div>
              </br>               
              <div class="form-group">
                <center>                  
                  <button ng-disabled="is_loading" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button ng-disabled="is_loading" type="submit" class="btn btn-secondary">
                    <i class="fa fa-check"></i> Crear evento
                  </button>
                </center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%end%>