<div class="container">
  <div class="content">
    <div class="content-container">
      <%= render 'heading'%>
      <div class="row">        
        <%= render 'calendar'%> 
        <%= render 'form'%>
      </div> <!-- /.row --> 
    </div> <!-- /.content-container -->    
  </div> <!-- /.content -->
</div> <!-- /.container -->