<div class="container">
  <div class="content">
    <div class="content-container">
      <%= render 'heading'%>
      <div class="row">        
        <%= render 'calendar'%> 
        <%= render 'event'%>
      </div>
    </div> <!-- /.content-container -->    
  </div> <!-- /.content -->
</div> <!-- /.container -->
<div id="newEventModal" class="modal modal-styled fade" ng-controller='newEventController as newEventCtrl'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Registro de nuevo evento</h3>
      </div>
      <div class="modal-body">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-user-md"></i>
              {{new_evento.doctor_name}}
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            <form id="validate-enhanced" class="form parsley-form" ng-submit='createEvent()'>              
              <div class="form-group" ng-class="{'has-error': errors.paciente}">
                <label class='control-label' for="buscar_paciente">Paciente</label>
                <div class="input-group date ui-datepicker">
                    <input id="buscar_paciente" name="buscar_paciente" class="form-control" type="text" placeholder="Busque por apellidos y nombres">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>                   
                </div>
                <p class='control-label'>{{errors.paciente.join()}}</p>
              </div>
              <div class="form-group" ng-class="{'has-error': errors.motivo}">
                <label class='control-label' for="textarea-input">Motivo</label>
                <textarea name="textarea-input" id="textarea-input" cols="10" rows="3" class="form-control" ng-model='new_evento.motivo'></textarea>
                <p class='control-label'>{{errors.motivo.join()}}</p>
              </div>
              </br>               
              <div class="form-group">
                <center>                  
                  <button ng-disabled="is_loading" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button ng-disabled="is_loading" type="submit" class="btn btn-secondary">
                    <i class="fa fa-check"></i> Crear evento
                  </button>
                </center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

