<ul class="nav navbar-nav navbar-right"> 
  <li>
    <a href="javascript:;">Acerca de</a>
  </li>        
  <li>
    <a href="javascript:;">Recursos</a>
  </li>    
  <li class="dropdown navbar-profile">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
      <img src="http://preview.jumpstartthemes.com/target-admin/img/avatars/avatar-1-xs.jpg" class="navbar-profile-avatar" alt="">
      <span class="navbar-profile-label">rod@rod.me &nbsp;</span>
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="./page-profile.html">
          <i class="fa fa-user"></i> 
          &nbsp;&nbsp;My Profile
        </a>
      </li>
      <li>
        <a href="./page-pricing.html">
          <i class="fa fa-dollar"></i> 
          &nbsp;&nbsp;Plans &amp; Billing
        </a>
      </li>
      <li>
        <a href="./page-settings.html">
          <i class="fa fa-cogs"></i> 
          &nbsp;&nbsp;Settings
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="./account-login.html">
          <i class="fa fa-sign-out"></i> 
          &nbsp;&nbsp;Logout
        </a>
      </li>
    </ul>
  </li>
</ul>   