/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require target-template/target-admin.css
 */
/*PAra lso iconos en agenda > evento*/
.list-group .list-group-item i {
color: #39b3d7;
}

.show-hide-animation {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.show-hide-animation.ng-hide {
  opacity:0;
}